#cheesecake {
    background-color: #f5c647;
    font-family: "Andika", sans-serif;
}

#cookie {
    background-color: #3293e3;
    font-family: "Andika", sans-serif;
}

#einspanner {
    background-color: #34d963;
    font-family: "Andika", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Wendy One"; serif;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

h2, h3 {
    font-size: 25px;
}

.description, .steps {
    width: 70vw;
    max-width: 1000px;
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
}

#cheesecake .description,
#cheesecake .steps {
    filter: drop-shadow(0 0 10px #b8922a)
}

#cookie .description,
#cookie .steps {
    filter: drop-shadow(0 0 10px #216ead)
}

#einspanner .description,
#einspanner .steps {
    filter: drop-shadow(0 0 10px #178035)
}

img {
    display: block;
    margin: auto;
    width: 70%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    color: white;
}